<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias alias="restVO" type="com.hanbit.cock.api.vo.RestVO"/>
		<typeAlias alias="articleVO" type="com.hanbit.cock.api.vo.ArticleVO"/>
		<typeAlias alias="menuVO" type="com.hanbit.cock.api.vo.MenuVO"/>
		<typeAlias alias="tagVO" type="com.hanbit.cock.api.vo.TagVO"/>
		<typeAlias alias="imgVO" type="com.hanbit.cock.api.vo.ImgVO"/>

		<typeAlias alias="fileVO" type="com.hanbit.cock.api.vo.FileVO" />
		
		<typeAlias alias="memberVO" type="com.hanbit.cock.api.vo.MemberVO" />
		<typeAlias alias="memberDetailVO" type="com.hanbit.cock.api.vo.MemberDetailVO" />
	</typeAliases>

</configuration>